@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  background: #f6eeee;
}

html {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.1px rgb(42, 42, 42);
  }
  @font-face {
    font-family: "Pony";
    src: url('../../public/fonts/Pony.ttf');
    font-weight: normal;
    font-style: normal;
  }
}

h3{
  font-size: larger;
  font-weight: 600;
}

label{
  font-weight: bold;
  margin: 5 0 5 0;
}
.ant-drawer .ant-drawer-conten{
  background-color: #f6eeee;
}

.ant-drawer .ant-drawer-content-wrapper{
  width: 1000px !important;
}

.ant-drawer .ant-drawer-wrapper-body{
  background-color: #f6eeee;
}

del {
  text-decoration: line-through;
  color: gray;
}